.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.orders-product {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders-product-item {
  color: #00695c;
  border: 2px solid #00695c;
  padding: 8px;
  margin-bottom: 0.5rem;
}
